.currency-table-head__th {
  cursor: pointer;
}

.currency-table-head__th:hover {
  background-color: aliceblue;
}

.currency-table-head__th.th-down::after,
.currency-table-head__th.th-up::after {
  content: '';
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 10px red solid;
  border-left: 5px transparent solid;
  border-right: 5px transparent solid;
}

.currency-table-head__th.th-up::after {
  transform: rotate(180deg);
}
